
@charset "utf-8";


body {
   background: color:rgb(139,0,139); 
   font-family: Verdana, Geneva, sans-serif;
}




section#main {
   background: rgb(101, 101, 101);
   box-shadow: rgb(0,0,0) 0px 0px 50px; 
}

div#box {
   background: color:rgb(139,0,139); 
   background-size: cover;
}


article {
   position: absolute;
   color: rgba(255, 201, 255, 0.5);
   top: 45px;
   left: 20px;
   width: 240px;
   font-size: 1.1em;
}

article p {
   margin: 0px 0px 10px 0px;
   text-shadow: rgb(0,0,0) 3px 3px 8px;
}

   
address {
   color: rgba(255, 201, 255, 0.7);
}






footer span a:hover {
   color: rgba(255, 201, 255, 0.7);
}
